@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@font-face {
    font-family: 'latobold';
    src: url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../assets/fonts/lato-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../assets/fonts/lato-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../assets/fonts/lato-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*----------------------setting default to body-------------------*/

body {
    font-family: 'latoregular' !important;
    background-color: #d4d5d6 !important;
}

/*------------------------giving background image---------------- */

header {
    background-image: url('http://campaign.narayanahealth.org/DNSH-Gastroenerology/Enquire-Now/images/red2.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/*---------------------------- Logo image-------------------------*/

.logo {
    height: 51px;
    width: 300px;
    margin-top: 20px;
    margin-left: 0px;
}

.phone {
    margin-top: 20px;
    margin-right: 30px;
}


/*-------------------------- enquire details ---------------------------- */

input[placeholder],
[placeholder],
*[placeholder] {
    color: #fff !important;
}

.enquiry {
    margin: 0px;
    padding: 15px;
    padding-bottom: 5px;
    background-color: rgba(50, 48, 53, 0.9) !important;
    width: 25%;
    position: fixed;
    right: 30px;
    height: 415px;
    text-align: center;
    margin-top: 6px;
}

.enquirynow {
    color: #fff;
    font-size: 26px;
    font-family: 'latobold';
    margin: 0;
    padding: 13px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.hr_line {
    margin: 0px 0 13px 0;
    padding: 5px 0 0 0;
    border-bottom: 2px solid #f96213;
    width: 100%;
}

.txt-box {
    background-color: rgba(50, 48, 53, 0.9) !important;
    border: 1px solid #ccc;
    margin: 15px 0 0;
    padding: 5px 0 6px 6px;
    width: 100%;
}

.sub-btn {
    background-color: #f96213;
    border: medium none;
    border-radius: 5px !important;
    color: #fff;
    font-size: 18px !important;
    font-weight: bold !important;
    margin: 12px auto 25px auto !important;
    padding: 4px 20px !important;
    text-align: center !important;
    text-transform: capitalize;
}
/*--------------------------- side bar part---------------------- */

.trans-img {
    background-image: url('../images/image-live/side-bar.png');
    background-repeat: no-repeat;
    width: 750px;
    height: 200px;
    position: absolute;
    z-index: 1000;
    top: 270px;
    padding: 15px 0 0 72px;
}

.ortho {
    border-bottom: 2px solid #f96213;
    color: #fff;
    font-family: Roboto Condensed;
    font-size: 30px;
    margin: 0;
    padding: 0 0 3px;
    text-transform: uppercase;
}

.best-ortho {
    margin: 0px;
    padding: 5px 0 0 0;
    font-family: Arial;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
}

/* main content starts from here */

.main-bg {
    background-color: #d4d5d6 !important;
}

.why-dharma {
    height: auto;
    width: 70.9%;
    margin-left: 23px;
    border: 2px solid transparent;
    background-color: white;
    padding-bottom: 45px;
}

.key-speciality {
    margin-top: 5px;
    height: auto;
    width: 70.9%;
    margin-left: 23px;
    border: 2px solid transparent;
    background-color: white;
    padding-bottom: 30px;
}

.heading_txt {
    color: #2c2b32;
    font-size: 26px;
    font-family: 'latobold';
    margin: 0;
    padding: 28px 0;
    text-align: center;
}

.content_box {
    margin: 0px;
    padding: 5px 0 0 0;
    text-align: center;
    color: #000;
    font-family: 'latobold';
    font-size: 16px;
}

.nabh {
    margin-left: 85px;
}

.surgerical {
    margin-left: 28px;
    margin-right: 10px;
}

.txt_categories {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: #000;
    font-family: 'latobold';
    width: 100%;
}

.surgerical_heading {
    margin: 0px;
    padding: 0px 0 10px 0;
    color: #f76804;
    font-size: 16px;
    font-family: 'latobold';
    margin-left: 25px;
}

.txt_categories ul li {
    line-height: 30px;
}

/* Facilities and services */

.facilitiesnservices{
    margin-top: 5px;
    height: auto;
    width: 70.9%;
    margin-left: 23px;
    border: 2px solid solid;
    background-color: white;
    padding-bottom: 20px;
}

.big_box {
    margin: 0px;
    padding: 10px 13px 35px 13px;
    height: auto;
    width: 96.5%;
    background-color: #274992;
    margin-left: 15px;
    margin-right: 10px;
}

.clr {
    margin: 0px;
    padding: 0px;
    clear: both;
    line-height: 0px;
}

.con_box1 {
    background-color: rgba(0, 27, 105, 0.5);
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 16px;
    font-family: 'latobold';
    margin: 16px 18px 0;
    padding: 10px;
    text-align: center;
    width: 398px;
}

.con_box2 {
    background-color: rgba(0, 27, 105, 0.5);
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 16px;
    font-family: 'latobold';
    margin: 16px 10px 0;
    padding: 10px;
    text-align: center;
    width: 398px;
}

/*---------------------------- our doctors----------------------- */

.doct-bg {
    background-color: #383d44;
    height: 860px;
    width: 70.9%;
    margin-left: 22px;
    border-radius: 1%;
}

.heading_txt1 {
    color: white;
    font-size: 26px;
    font-family: 'latobold';
    margin: 0;
    padding: 28px 0;
    text-align: center;
}

.doctor-sec {
    height: auto;
    width: 100%;
}

.doctor-sec p {
    color: #fff;
    text-align: center;
}

.docname {
    padding-top: 12px;
     font-family: 'latobold';
}

p {
    margin: 0 0 10px;
}

.hr_line4 {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid #8e8e8e;
}

.txt_matter p {
    margin: 0px auto;
    padding: 0px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 12px;
}

/*------------------- Footer part------------------- */

.footer {
    margin: 20px 0 0 0;
    padding: 20px 0px;
    background-color: #383d44;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/* ----------------------------for mobile-------------------------*/

@media (max-width:767px) {
    .header {
        display: block;
        background-image: url('/var/www/html/project/images/image-live/side-bar.png');
        background-repeat: no-repeat;
        height: 363px;
        width: auto;
        background-position: center;
        background-size: cover;
        overflow-x: hidden;
    }
    img {
        vertical-align: middle;
    }
    .logo {
        position: absolute;
        left: 10px;
        top: 10px;
        margin-top: 0px;
        height: 34px;
        width: 200px;
    }
    .phone {
        display: none;
    }
    /* side part */
    .trans-img {
        background-repeat: no-repeat;
        background-size: 339px 170px;
        height: 276px;
        padding: 26px 0 0 28px;
        position: absolute;
        top: 320px;
        width: 100%;
        z-index: 1000;
        overflow-x: hidden;
    }
    /* Enquiry part */
    .enquiry {
        position: relative;
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0 20px 0 20px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 500px;
        width: 90%;
        left: 16px;
    }
    .ortho {
        border-bottom: 2px solid #f96213;
        color: #fff;
        font-family: BebasNeue;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        padding: 0 0 3px;
        text-transform: uppercase;
        width: 285px;
    }
    .best-ortho {
        color: #fff;
        font-family: Arial;
        font-size: 11px;
        line-height: 12px;
        margin: 0;
        padding: 10px 0 0;
        width: 313px;
    }
    .main-bg {
        background-color: #d4d5d6 !important;
        margin-top: 417px;
    }
    .why-dharma {
        height: auto;
        width: 90%;
        margin-left: 16px;
        border: 2px solid transparent;
        background-color: white;
    }
    .nabh {
        margin: auto;
    }
    /* .main-bg .white-border img{
    margin:auto;
} */
    .key-speciality{
        margin-top: 2px;
        height: auto;
        width: 90%;
        margin-left: 16px;
        border: 2px solid transparent;
        background-color: white;
    }
    .surgerical {
        margin-left: 100px;
        margin-right: 10px;
    }
    .surgerical_heading {
        margin: 0px;
        padding: 0px 0 10px 0;
        color: #f76804;
        font-size: 16px;
        font-weight: bold;
        margin-left: 55px;
        margin-top: 10px;
    }
    .facilitiesnservices {
        margin-top: 2px;
        height: auto;
        width: 90%;
        margin-left: 16px;
        border: 2px solid solid;
        background-color: white;
    }
    .big_box {
        margin: 0px;
        padding: 10px 13px 35px 13px;
        height: auto;
        width: 90%;
        margin-left: 16px;
        background-color: #274992;
    }
    .con_box1 {
        margin: 16px 0 0 0;
        width: 100%;
    }
    .con_box2 {
        margin: 16px 0 0 0;
        width: 100%;
    }
    .doct-bg {
        background-color: #383d44;
        height: auto;
        width: 90%;
        margin-left: 16px;
        border-radius: 1%;
        padding-bottom: 0px;
    }
    .doct-bg .doctor-sec img {
        margin: auto;
    }
}

/*-----------------tablet------------------*/

@media(min-width:768px)and (max-width:1100px) {
    .phone {
        display: none;
    }
    /* side part */
    .trans-img {
        background-repeat: no-repeat;
        background-size: 530px 170px;
        /* height: 300px; */
        padding: 26px 0 0 28px;
        position: absolute;
        top: 300px;
        width: 100%;
        z-index: 1000;
        overflow-x: hidden;
    }
    .ortho {
        border-bottom: 2px solid #f96213;
        color: #fff;
        font-family: BebasNeue;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        padding: 0 0 3px;
        text-transform: uppercase;
        width: 360px;
    }
    .best-ortho {
        color: #fff;
        font-family: Arial;
        font-size: 11px;
        line-height: 10px;
        margin: 0;
        padding: 10px 0 0;
        width: 430px;
    }
    /* Enquiry part */
    .enquiry {
        position: relative;
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0 20px 0 20px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 430px;
        width: 90%;
        left: 32px;
    }
    .main-bg {
        background-color: #d4d5d6 !important;
        margin-top: 417px;
        margin-left: 16px;
    }
    .why-dharma{
        height: auto;
        width: 92%;
        margin-left: 16px;
        border: 2px solid transparent;
        background-color: white;
    }
    .nabh {
        margin-left: 60px;
    }
    .key-speciality {
        margin-top: 2px;
        height: auto;
        width: 92%;
        margin-left: 16px;
        border: 2px solid transparent;
        background-color: white;
    }
    .surgerical {
        margin-left: 65px;
        margin-right: 10px;
    }
    .facilitiesnservices {
        margin-top: 2px;
        height: auto;
        width: 92%;
        margin-left: 16px;
        border: 2px solid solid;
        background-color: white;
    }
    .big_box {
        margin: 0px;
        padding: 10px 13px 35px 13px;
        height: auto;
        width: 92%;
        margin-left: 26px;
        background-color: #274992;
    }
    .con_box1 {
        margin: 16px 0 0 0;
        width: 100%;
    }
    .con_box2 {
        margin: 16px 0 0 0;
        width: 100%;
    }
    .doct-bg {
        background-color: #383d44;
        height: auto;
        width: 92%;
        margin-left: 16px;
        border-radius: 1%;
    }
    .doct-bg .doctor-sec img {
        margin: auto;
    }
}