.a{
    background-color:blue;
    height:100px;
    width:50%;
}
.a:last-child{
    background-color:red;
    height:100px;
    width:50%;
}


@media screen and (max-width:767px){
    .a{
        background-color:yellow;
        height:100px;
        width:100%;
    }  
    .a:last-child{
        background-color:green;
        height:100px;
        width:100%;
    }
}